.eth_tap {
    width: 100%;
}

.eth_tap .tap_list {
    width: 700px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.25rem;
}

.eth_tap .tap_list li {
    width: 250px;
    margin: 0 10px;
    text-align: center;
    padding: 20px 10px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.eth_tap .tap_list li:hover {
    background-color: #44217a;
    color: #fff;
}

.eth_tap .tap_list li:nth-child(2) {
    background-color: #44217a;
    color: #fff;
}

.container {
    width: 70%;
    margin: 0 auto 130px;
}

.toc-section {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px;
}

.toc-item {
    font-size: 20.8px;
    line-height: 1.8;
}

@media (max-width: 768px) {
    .eth_tap .tap_list {
        width: 90%;
        flex-direction: column;
        font-size: 1rem;
        box-sizing: border-box;
        padding-right: 20px;
    }
    .eth_tap .tap_list li {
        width: 100%;
        margin: 5px 0;
    }
    .container {
        width: 90%;
    }
    .toc-item {
        font-size: 1rem;
    }
}
