.contact {
    width: 100%;
    margin-bottom: 50px;
}
.contact_scrap {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.contact_title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}
.contact_title img {
    margin-top: 10px;
    margin-right: 10px;
}
td {
    width: 400px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #888;
    text-align: center;
    font-size: 1rem;
}
.table_01 td {
    background-color: #fafafa;
    font-size: 1.25rem;
    font-weight: 600;
}
.table_02 td {
    color: #666666;
    font-weight: 600;
}
.rowspan {
    vertical-align: middle;
}
