.main_title {
    width: 1280px;
    margin: 120px auto;
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: center;
}

.main_title > h2 {
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin: 0;
}
.main_title img {
    width: 25px;
    height: 40px;
    margin-right: 20px;
    vertical-align: middle;
}
