.notice {
    width: 100%;
    margin-bottom: 200px;
}
.notice_box {
    width: 70%;
    height: 100px;
    margin: 0 auto;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.notice_select {
    width: 160px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    border-color: #99999953;
    margin-right: 15px;
    color: #999;
}
input {
    border: none;
}
.notice_input {
    width: 300px;
    height: 38px;
    box-sizing: border-box;
    padding-left: 10px;
    border: 1px solid;
    border-color: #99999953;
}
.notice_black_box {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #333;
    color: white;
}
.notice_table {
    width: 70%;
    margin: 0 auto;
}
.notice_grey td {
    color: #888;
}
.table_back td {
    background-color: #fafafa;
    font-weight: 500;
}
.table_back {
    border-top: 2px solid black;
}
.table_01 {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #99999953;
}
.center {
    text-align: center;
}
.table_02 {
    width: 1300px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    padding-left: 20px;
    border: 1px solid #99999953;
}
.table_03 {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #99999953;
}
@media (max-width: 768px) {
    .notice {
        display: block;
    }
    .notice_box {
        width: 90%;
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }
    .notice_select {
        margin-right: 0;
        margin-bottom: 10px;
        width: 80%;
    }
    .notice_input {
        width: 80%;
        margin-bottom: 10px;
    }
    .notice_black_box {
        width: 80%;
    }
    .notice_table {
        width: 90%;
    }
    .notice_table table,
    .notice_table thead,
    .notice_table tbody,
    .notice_table th,
    .notice_table td,
    .notice_table tr {
        display: block;
    }

    .notice_table tr {
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .notice_table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 0;
        text-align: center !important;
        white-space: normal;
        height: auto;
        line-height: 1.5;
        padding: 20px;
    }
    .table_01,
    .table_02,
    .table_03 {
        width: 100%;
        box-sizing: border-box;
        padding-left: 0;
        text-align: center !important;
    }
}
