.port_tap {
    width: 100%;
}

.port_tap .tap_list {
    width: 700px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.25rem;
}

.port_tap .tap_list li {
    width: 250px;
    margin: 0 10px;
    text-align: center;
    padding: 20px 10px;
    border: 1px solid #ccc;
    transition: 0.3s;
}
.port_tap .tap_list li a {
    display: block;
}
.port_tap .tap_list li:hover {
    background-color: #44217a;
    color: #fff;
}

.port_tap .tap_list li:nth-child(2) {
    background-color: #44217a;
    color: #fff;
}

.detail_title {
    width: 1280px;
    margin: 50px auto;
    font-size: 1.7rem;
}

.sub_tap_01_detail .sub_tap_01_list_01 {
    display: grid;
    width: 1280px;
    margin: 0 auto;
    height: 100px;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    border: 1px solid #ccc;
}
.sub_tap_01_detail .sub_tap_01_list_01 li {
    border: 1px solid #ccc;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_tap_01_detail .sub_tap_01_list_02 {
    display: grid;
    width: 1280px;
    margin: 50px auto;
    height: 200px;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    border: 1px solid #ccc;
}
.sub_tap_01_detail .sub_tap_01_list_02 li {
    border: 1px solid #ccc;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_tap_01_detail .sub_tap_01_list_02 li:first-child {
    grid-column: 1/8;
}

.sub_tap_01_detail .sub_tap_01_list_02 li:nth-child(2) {
    grid-column: 8/8;
    grid-row: 1/3;
}
.img_box {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img_box li {
    width: 50%;
    padding: 0 20px;
}
.img_box img {
    width: 100%;
    height: 500px;
}

.sub_tap_01_list_03 {
    display: grid;
    width: 1280px;
    margin: 50px auto;
    height: 200px;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    border: 1px solid #ccc;
}
.sub_tap_01_list_03 li {
    border: 1px solid #ccc;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_tap_01_list_03 li:first-child {
    grid-column: 1/3;
}

.sub_tap_01_list_04 {
    display: flex;
    width: 1280px;
    margin: 50px auto;
    height: 200px;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}
.sub_tap_01_list_04 li {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .port_tap .tap_list {
        width: 90%;
        flex-direction: column;
        font-size: 1rem;
        box-sizing: border-box;
        padding-right: 20px;
    }
    .port_tap .tap_list li {
        width: 100%;
        margin: 5px 0;
    }
    .detail_title {
        width: 90%;
        font-size: 1.2rem;
    }
    .sub_tap_01_detail .sub_tap_01_list_01,
    .sub_tap_01_detail .sub_tap_01_list_02,
    .sub_tap_01_list_03 {
        width: 90%;
        grid-template-columns: 1fr;
        height: auto;
    }
    .sub_tap_01_detail .sub_tap_01_list_01 li,
    .sub_tap_01_detail .sub_tap_01_list_02 li,
    .sub_tap_01_list_03 li {
        grid-column: auto !important;
        grid-row: auto !important;
        padding: 10px;
        font-size: 1rem;
    }

    .img_box {
        width: 90%;
        flex-direction: column;
    }
    .img_box li {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }
    .img_box img {
        height: auto;
    }
    .sub_tap_01_list_04 {
        width: 90%;
        flex-direction: column;
        height: auto;
    }
    .sub_tap_01_list_04 li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
