@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.transit_tap {
    width: 100%;
}

.transit_tap .tap_list {
    width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.25rem;
}

.transit_tap .tap_list li {
    width: 250px;
    margin: 0 10px;
    text-align: center;
    padding: 20px 10px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.transit_tap .tap_list li:hover {
    background-color: #44217a;
    color: #fff;
}

.transit_tap .tap_list li:last-child {
    background-color: #44217a;
    color: #fff;
}

.transit_detail_box {
    width: 1280px;
    margin: 50px auto;
    font-size: 1.7rem;
}

.transit_detail_box .transit_img_box {
    display: flex;
}
.transit_detail_box .transit_img_box li {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
}
.transit_detail_box .transit_img_box li img {
    width: 100%;
    height: auto;
}
